.wider-rounder {
  width: 500px;
  height: 50px;
  border-radius: 30px;
}

.narrower {
  width: 160px;
  border-radius: 20px;
}

h5 {
  color: rgb(218,53,37);
}

a:hover {
  text-decoration: underline;
}
